<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="br.com.marcondesmacaneiro.cenourapp"
        version="1.0.0">

    <name>
        Só de Cenoura
    </name>

    <description>
        Menu do restaurante Só de Cenoura.
    </description>

    <author href="http://google.com" email="marcondesmacaneiro@gmail.com">
        Marcondes Macaneiro
    </author>

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="permissions" value="none" />

	<preference name="phonegap-version" value="cli-6.3.0" />

	<icon src="icon.png" />

	<gap:platform name="android" />
	<gap:splash src="splash.png" />


</widget>
